* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

#bg {
  width: 100%;
}

/* NAV SECTION */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 10vw;
  background-image: linear-gradient(
    rgb(145, 145, 145),
    pink,
    rgb(194, 194, 194)
  );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav-cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  padding: 0 2vw;
  background-color: white;
}

.nav-cnt img {
  background-color: black;
  width: 10vw;
  padding: 1vh 0.5vw;
  border-radius: 8px;
}

.links {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.links a {
  font-size: 1vw;
  font-weight: 600;
}
/* NAV SECTION END */

/* HERO  */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 55vh;
  background-position: center;
  background-size: cover;
  background-image: url("../assests/main.png");
  padding: 0 10vw;
  padding-bottom: 5vh;
}

.hero-top {
  display: flex;
  justify-content: end;
  width: 100%;
  padding-right: 4vw;
  margin-bottom: 3vh;
}

.new {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new h2 {
  font-size: 1.5vw;
  font-weight: 600;
  color: white;
}

.new p {
  font-size: 1.5vw;
  font-weight: 300;
  color: white;
}

button {
  padding: 0.8vh 0.8vw;
  border-radius: 50px;
  border: none;
  background-color: rgba(255, 255, 255, 0.574);
  font-size: 0.8vw;
  font-weight: 600;
  margin-top: 1.5vh;
}

.hero-btn {
  color: white;
  text-align: center;
  margin-top: 2vh;
}

.hero-btn h1 {
  font-size: 3.5vw;
  font-weight: 600;
}

.hero-btn p {
  font-size: 2vw;
  font-weight: 300;
}
/* HERO END */

/* SECTION-1 */
section {
  width: 100%;
  min-height: 100vh;
  background-color: pink;
  padding: 0 10vw;
}

.wrapper {
  width: 100%;
  /* height: 100vh; */
  padding: 2.5vh 2vw;
  background-color: #7c7c7c;
}

.font-with-line p {
  font-size: 2.1vw;
  font-weight: 300;
  color: white;
  margin-top: -8px;
}

.font-line {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.font-line h2 {
  font-size: 2vw;
  color: white;
}

.line {
  width: 10vw;
  height: 2px;
  background-color: white;
}

.font-line .crcl {
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  background-color: white;
}

.sec-1-mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  width: 100%;
  margin-top: 2vh;
  
}

.paradise {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paradise-top {
  width: fit-content;
  display: flex;
  align-items: end;
}

.paradise-top img {
  width: 10vw;
}

.paradise-top img:nth-child(1) {
  margin-left: -34px;
}

.paradise-top img:nth-child(2) {
  height: 60vh;
}

.paradise-btm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin-left: -30px;
}

.paradise-btm p {
  font-size: 1vw;
  text-align: center;
  color: white;
}

.paradise-btm button {
  background-color: white;
}

.sec-1-btn{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 2vw;
    margin-top: 4vh;
}
/* SECTION-1 END */
